<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Login with: </h1>
        <a href="/login?returnUrl=/profile" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>

        <div>
            <h2>Or use social login</h2>
            <a href="/auth/google?returnUrl=/profile" class="btn btn-danger"><span class="fa fa-google-plus"></span> Sign in with Google</a>
            <a href="/auth/facebook?returnUrl=/profile" class="btn btn-primary"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
        </div>

        <h1>Signup with: </h1>
        <a href="/signup?returnUrl=/profile" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>
